.footer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1.5rem;
  background: var(--footer-background);
  color: var(--white);
  padding: 3rem;
  justify-content: center;
}

.initial {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.logos {
  display: flex;
  flex-direction: column;
}
.social {
  display: flex;
  gap: 20px;
}

.heading {
  font-family: Urbanist;
  font-size: 16px;
  font-weight: 700;
  line-height: 26px;
  letter-spacing: 0em;
  text-align: left;
}

.contact {
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.contact_info {
  display: flex;
  gap: 8px;
}
