.header {
  display: grid;
  grid-template-columns: 1fr 3fr 2fr;
  height: 6rem;
  align-items: center;
  padding: 0 3rem;
}

.header > div:nth-child(2) {
  display: flex;
  gap: 2rem;
  justify-self: center;
}
.header > div:nth-child(3) div {
  display: flex;
  align-items: center;
}

.header > div:nth-child(3) {
  display: flex;
  gap: 2rem;
  align-items: center;
  justify-self: center;
}

.header a {
  font-family: Urbanist;
  font-size: 18px;
  font-weight: 600;
  line-height: 28px;
  letter-spacing: 0em;
  text-align: left;
  font: hsla(0, 0%, 0%, 1);
}

.header button {
  display: flex;
  width: 131px;
  height: 48px;
  padding: 16x;
  border-radius: 8px;
  gap: 10px;
  background: var(--button-background);
  color: var(--white);
  font-family: Urbanist;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0em;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border: none;
}
.header span {
  font-family: Urbanist;
  font-size: 18px;
  font-weight: 700;
  line-height: 28px;
  letter-spacing: 0em;
  text-align: left;
}
