.cards {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 5rem;
  height: 450px;
}
.cards > div:has(form) {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.cards span {
  background: linear-gradient(
    45deg,
    hsla(208, 78%, 55%, 1),
    hsla(330, 77%, 68%, 1)
  );
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  display: inline-block;
}

.cards form {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.form {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.cards h1 {
  font-family: Urbanist;
  font-size: 52px;
  font-weight: 700;
  line-height: 62px;
  letter-spacing: 0em;
  text-align: left;
}
.cards p {
  color: hsla(0, 0%, 25%, 1);
  font-family: Urbanist;
  font-size: 21px;
  font-weight: 300;
  line-height: 25px;
  letter-spacing: 0em;
  text-align: left;
}
.cards label {
  font-family: Urbanist;
  font-size: 17px;
  font-weight: 700;
  line-height: 20px;
  letter-spacing: 0em;
  text-align: left;
  color: hsla(0, 0%, 25%, 1);
}
.cards input {
  width: 95%;
  height: 52px;
  padding: 16px;
  border-radius: 10px;
  border: 1px solid hsla(0, 0%, 90%, 1);
  outline: none;
  font-family: Urbanist;
  font-size: 17px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0em;
  text-align: left;
  color: hsla(0, 0%, 25%, 1);
  background: hsla(0, 0%, 97%, 1);
}
.cards button {
  background: var(--button-background);
  color: var(--white);
  display: flex;
  width: 100%;
  height: 52px;
  padding: 16px;
  border-radius: 10px;
  gap: 12px;
  border: none;
  cursor: pointer;
  justify-content: center;
  align-items: center;
  font-family: Urbanist;
  font-size: 17px;
  font-weight: 700;
  line-height: 20px;
  letter-spacing: 0em;
  text-align: left;
}
.specter {
  display: flex;
  justify-content: center;
  gap: 0;
}
.specter img {
  width: auto;
  height: 26rem;
  display: block;
}
.lists {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 0.5rem;
}
.lists img {
  width: 18.5rem;
}
.services {
  display: flex;
  flex-direction: column;
  margin: auto;
}
.services h2 {
  font-family: Urbanist;
  font-size: 36px;
  font-weight: 700;
  line-height: 43px;
  letter-spacing: 0em;
  display: flex;
  margin: auto;
  padding: 32px 0px 32px 0px;
}
.service_cards {
  display: grid;
  margin: auto;
  width: 50rem;
  grid-template-columns: repeat(4, 1fr);
  gap: 2.5rem;
}
.service_cards div {
  display: flex;
  flex-direction: column;
  height: 112px;
  padding: 0 24px;
}
.service_cards div * {
  display: flex;
  align-items: auto;
}
@media only screen and (max-width: 768px) {
  .lists img {
    width: 100%;
    height: auto;
  }

  .specter {
    display: flex;
  }
  .specter img {
    flex-grow: 1;
    gap: 0;
  }
  .cards,
  .lists {
    height: fit-content;
    justify-content: start;
    display: flex;
    flex-direction: column;
  }
  .service_cards {
    justify-content: left;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 0.5rem;
  }
  .service_cards div {
    height: auto;
    width: 10rem;
  }
}
