.footer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1.5rem;
  background: var(--footer-background);
  color: var(--white);
  padding: 3rem;
  justify-content: center;
}

.initial {
  display: flex;
  flex-direction: column;
  gap: 1.75rem;
}

.logos {
  display: flex;
  flex-direction: column;
}
.social {
  display: flex;
  gap: 20px;
}

.heading {
  font-family: Urbanist;
  font-size: 1rem;
  font-weight: 700;
  line-height: 26px;
  letter-spacing: 0em;
  text-align: left;
}

.contact {
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.contact_info {
  display: flex;
  gap: 0.5rem;
}

@media only screen and (max-width: 768px) {
  .footer {
    grid-template-columns: 1fr;
    justify-items: center;
  }
}
